@font-face {
    font-family: 'Fast Hand';
    src: url('FastHand.eot');
    src: url('FastHand.eot?#iefix') format('embedded-opentype'),
        url('FastHand.woff2') format('woff2'),
        url('FastHand.woff') format('woff'),
        url('FastHand.ttf') format('truetype'),
        url('FastHand.svg#FastHand') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

